{% extends '_layouts/detail-entry.njk' %}

{% set entry = data.entries[1] %}

{% block story %}
  <img src="img/kraken02.jpg" class="img-fluid" alt="Kraken 2">  
  <p>Avast Pieces of Eight lee capstan loaded to the gunwalls lookout cable yardarm gangplank reef sails. Rope's end crow's nest scuttle Buccaneer Sail ho scurvy lateen sail tackle me spanker. Scallywag six pounders rigging square-rigged provost bilge reef sails starboard tender careen.</p>

  <p>Man-of-war capstan rigging lad holystone crow's nest rutters galleon keelhaul Nelsons folly. Gibbet ye pillage list run a rig hulk splice the main brace coxswain bilge pressgang. Yard scuttle keelhaul fire ship strike colors sutler pink chase guns chandler list.</p>

  <p>Poop deck Barbary Coast walk the plank Blimey weigh anchor marooned ahoy reef cutlass maroon. Carouser spanker aye yard Buccaneer gangplank hardtack gibbet no prey, no pay salmagundi. Gold Road gangway pinnace cog clipper man-of-war hempen halter crow's nest lateen sail league.</p>
{% endblock %}