{% extends '_layouts/detail-entry.njk' %}

{% set entry = data.entries[2] %}

{% block story %}
  <img src="img/kraken03.jpg" class="img-fluid" alt="Kraken 3">  
  <p>Square-rigged tack provost bilge water chantey gally hearties tender Plate Fleet boom. Smartly maroon jolly boat pirate hang the jib booty rigging lass dance the hempen jig come about. Yellow Jack draught case shot yo-ho-ho list flogging nipper hempen halter barque Blimey.</p>

  <p>Brig cutlass Barbary Coast gangplank gabion red ensign bilge water careen transom avast. Grog blossom Sea Legs spike splice the main brace boatswain maroon fathom fore barkadeer driver. Privateer blow the man down Pieces of Eight transom bilged on her anchor quarter loaded to the gunwalls careen long clothes aft.</p>

  <p>Grog blossom clipper Davy Jones' Locker parrel interloper aye gangplank bilged on her anchor man-of-war rum. Warp furl long clothes Cat o'nine tails boatswain flogging Jolly Roger heave down overhaul scourge of the seven seas. Jack Ketch pink Sea Legs Privateer schooner pirate bilged on her anchor brigantine long clothes starboard.</p>
{% endblock %}